<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Help!</h1>
			<p>The game is very simple. Enter your name and join a room. When the game starts, attempt to copy the picture that appears on your screen, then vote for which one you thought was your favorite!</p>
		</div>
	</div>
</div>