<div class="container">
	<div class="hero-unit">
		<h1>Dragonfruit</h1>
		<p>Dragonfruit is more than just a delicious delicacy. It is also a game!</p>
	</div>

	<div class="row">
		<div class="span12">
			<h2>Play now!</h2>
			<p>Form goes below somewhere</p>
		</div>
	</div>
</div>