<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">Dragonfruit</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Help", help_path %></li>
				</ul>
			</div>
		</div>
	</div>
</div>